
<launch>
    <!-- Play example KITTI rosbag -->
    <node pkg="rosbag" type="play" name="player" output="screen" required="true" 
    args="--loop
    --clock
    --pause
    --rate=0.5
    -s 0
    $(find ros_mot)/data/kitti_2011_09_26_drive_0001_synced.bag"/>
    <param name="use_sim_time" value="true" />

    <!-- Node -->
    <node name="tracking_node" pkg="ros_mot" type="ab3dmot.py" output="screen" respawn="true" />

</launch>
