
<launch>

    <!-- Arguments -->
    <arg name='visualization' default ='false' />
    <arg name='config_file' default='config/ouster.yaml'/>

    <!-- Load configuration -->
    <rosparam command="load" file="$(find ros_mot)/$(arg config_file)" />

    <!-- Detector Node -->
    <node name="detector_node" pkg="ros_mot" type="detector.py" output="screen" respawn="true" >
        <param name='visualization' value='$(arg visualization)' />
    </node>

    <!-- Visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_mot)/config/ouster.rviz" if="$(arg visualization)"/>


</launch>
